<!DOCTYPE html>
<html lang="en"><head>
     <link rel="stylesheet" href="static/style_sheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Caleb Gordon </title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:wght@300&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dosis&family=Roboto:wght@300&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

</head>
<body>
<header class="need box">

    <h1 class="cartoon_heading">Caleb Gordon, PhD</h1>
    <h2 class="cartoon_heading"> <i class="cartoon_heading"> Director of Systems &amp; Technology | Full-Stack Programmer | Professor | Data Scientist </i></h2>

    <div class="circular--portrait"> <img src="static/images/CalebImage.jpeg" /> </div>


    <br>

    <a href="public/about.html">About Me</a>

    <a href="https://www.linkedin.com/in/caleb-gordon-phd-877604124/"> LinkedIn Page</a>

</header>

<main>
    <p> My work experience is varied in networking, systems engineering and operations, and much more.</p>

    <h3>Skills</h3>

    <ul>
        <li>Programming: Python, C++, JavaScript </li>
         <li> Web Development: HTML, CSS, DJango, Flask </li>
        <li>Network Engineering</li>
        <li>Data Analytics</li>
        <li>Operations of Contact Centers</li>
        <li>Manage Systems Engineering Teams</li>
    </ul>

    <h3>Experience</h3>
    <h4>Sr. Director- Engineering  (October 2022- Present)</h4>
    <ul>
        <li>Oversaw network engineers, software engineers, NOC engineers, and vendors</li>
        <li>Launched and configured the network routers on the border and edge</li>
        <li>Implemented DHCP servers, SFTP servers, Syslog servers, TACACS</li>
        <li>Hosted and configured the Calix SMX server system on Dell EMC server using Linux RHEL 8 operating system</li>
        <li>Implemented network monitoring tools (Zabbix, IGlass, PagerDuty, etc.)</li>
        <li> Implemented and mapped the billing and provisioning systems</li>
    </ul>
</main>


<footer>
    <p>© 2023 Caleb Gordon</p>
  </footer>




</body></html>