
.resume{

}
.hero-section{

}

.footercustom{

}
.slideshow{

}

#caleb{
    border-radius: 50%;
    max-width:100%;
    height: auto;
}

.vertical-center{
    display: flex;
    justify-items: center;
    align-items: flex-start;
    height: 100%;
}


    .dynamic-font {
      font-size: 4vw; /* Adjust this value as needed */
    }

    .custom-btn{
        border: none;
        border-color: white;
        text-align: left;
        color: black;
    }

    .paragraph-heading {
        font-size: 3vw; /* Adjust this value as needed */

    }

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

   .custom-btn:hover,
    .custom-btn:active,
    .custom-btn:focus {
       background-color: black;
       color: white;
   }

   .custom-btn{
       font-size:2vw;
       gap: 5px;
       background-color:white;
   }
   .card-body{
       font-size: 1.5vw;
   }


#carouselExample{

   }

   .headings{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 2vh 0 2vh 0;
   ;
   }

